body {
    margin: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 46px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 39px;
    font-weight: normal;
    margin: 0;
}

h2.alt {
    margin: 32px 16px 0 16px;
    font-weight: bold;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
}

h3.alt {
    margin: 32px 16px 0 16px;
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}

h4.alt {
    margin: 32px 16px 0 16px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

p.alt {
    margin: 8px 16px 0 16px;
}

p.link {
    color: #F1F1F1;
    margin-left: 8px;
}

a {
    color: black;
    text-decoration: none;
}

#root {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 128px 38px 1fr 80px;
    grid-gap: 0;
    gap: 0;
    grid-auto-flow: row;
}

.centered-content {
    display: table;
    margin: 0 auto 16px;
    width: 827px;
}

.page-with-menu {
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 1fr;
    gap: 0 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "menu content";
    height: 100%;
}

.side-menu {
    grid-area: menu;
    width: 200px;
    background-color: #C9D3E1;
    padding: 16px;
}

.menu-option {
    margin-top: 24px;
}

.side-content {
    grid-area: content;
}

button {
    margin: 16px 8px;
    background-color: #14649C;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    height: 40px;
    border-radius: 20px;
    flex: auto;
}

button:hover {
    background-color: #04438b;
}

.profile-buttons {
    margin: 16px 8px;
    display: flex;
}

.contact-info {
    margin-top: 32px;
}