.navbar {
    background-color: #14649C;
    display: flex;
    padding: 0 8px;
    align-items: center;
    justify-content: center;
}

.navlink {
    padding: 8px;
    color: white;
    text-decoration: none;
}

.navlink:hover {
    background-color: #04438b;
}

.selected {
    padding: 8px;
    background-color: white;
}